In [23]:
import pandas as pd

In [28]:
url = "https://www.qsrmagazine.com/content/qsr50-2017-top-50-chart"
tables = pd.read_html(url, header = 0)

In [29]:
df = tables[0]

In [30]:
df.head()

,QSR 50 Rank,Company,Change in Position,Category,2016 U.S. Systemwide Sales (millions),2016 U.S. Average Sales Per Unit (thousands),Number of Franchised Units in 2016,Number of Company Units in 2016,Total Units in 2016,Total Change in Units from 2015
0,1,McDonald's*,-,Burger,36389.00,2550.00,13046,1109,14155,-104
1,2,Starbucks*1,-,Snack,14795.40,1123.25,5292,7880,13172,651
2,3,Subway,-,Sandwich,11300.00,422.52,26744,0,26744,-359
3,4,Wendy's,2,Burger,9510.00,1454.80,6207,330,6537,58
4,5,Burger King*,-1,Burger,9749.19,1361.43,7111,50,7161,35

In [31]:
df.to_csv("")

AttributeError: 'DataFrame' object has no attribute 'to_csvI'