In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("assets/data/final_clean.csv")
df.head()

,name,categories,city,state,postalCode,latitude,longitude,region
0,90 Miles Cuban Cafe,Ethnic,Chicago,IL,60618,41.937897,-87.685781,Midwest
1,A's Ace Burgers,Burger,Dana Point,CA,92629,33.464500,-117.684500,West
2,A&W/Long John Silvers,Seafood,Belle Vernon,PA,15012,40.136482,-79.842820,Northeast
3,Abruzzi Pizza,Pizza,Brookhaven,PA,19015,39.872570,-75.387220,Northeast
4,Acropolis Gyro Palace,Ethnic,Columbus,OH,43214,40.071324,-83.018535,Midwest

In [7]:
state_categories = df.groupby(["state", "categories"]).size()

In [9]:
state_categories.to_json("state_categories.json")

In [20]:
region_categories = df.groupby(["region", "categories"]).size()

In [12]:
region_categories.to_json("region_categories.json")

In [19]:
df.categories.unique()

array(['Ethnic', 'Burger', 'Seafood', 'Pizza', 'Snack', 'Chicken',
       'Sandwich'], dtype=object)

In [23]:
region_categories.unstack().to_json("region_categories.json")

In [29]:
state_categories.unstack().fillna(0).to_json("state_categories.json")

In [31]:
state = state_categories.unstack().fillna(0)

In [35]:
pd.to_numeric(state, downcast = "integer")

TypeError: arg must be a list, tuple, 1-d array, or Series

In [33]:
state(columns = ['Burger', 'Chicken', 'Ethnic', 'Pizza', 'Sandwich', 'Seafood', 'Snack'], dtype = int)

TypeError: 'DataFrame' object is not callable